@import "scss/modular";

//academy-editor > div {
//  max-height: 300px !important;
//}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer {
  cursor: pointer;
}
