<div *ngIf="field$ | async as field">

</div>

<router-outlet></router-outlet>

<section class="grid">
<!--  <div class="col-12 col-s-12">-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Step</mat-label>-->
<!--      <mat-select [formControl]="stepControl">-->
<!--        <mat-optgroup *ngFor="let group of toc" [label]="group.name">-->
<!--          <mat-option *ngFor="let step of group.children" [value]="step.value">-->
<!--            {{step.name}}-->
<!--          </mat-option>-->
<!--        </mat-optgroup>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--  </div>-->
  <div class="col-3 col-s-12">
    <academy-description></academy-description>
    <pre><code [highlight]="description$ | async"></code></pre>
  </div>
  <div class="col-6 col-s-12">
    <academy-editor [editor]="type"></academy-editor>
  </div>
  <div class="col-3 col-s-12">
    <fb-form-builder [data]="builderData$ | async" #fb></fb-form-builder>
    <ng-template *ngIf="!(builderData$ | async)">
      <div class="flex jc-center">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </ng-template>
  </div>
</section>
<div class="flex jc-center">
  <div>
    <button mat-icon-button [disabled]="academy.currentStep?.index === 0" (click)="previous()">
      <mat-icon>navigate_before</mat-icon>
    </button>
  </div>
  <div *ngIf="academy.currentStep?.validate">
    <button mat-raised-button color="warn" (click)="validate()">Validate</button>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="compile()">Run</button>
  </div>
  <div>
    <button mat-icon-button [disabled]="!academy.valid || academy.currentStep?.index === academy.steps.length - 1" (click)="next()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>

<!--<fb-form-builder [data]="formBuilderData"></fb-form-builder>-->
